[submodule "pico_lib"]
	path = pico_lib
	url = https://github.com/rsheldiii/pico_lib
[submodule "tusb_xinput"]
	path = tusb_xinput
	url = https://github.com/fhoedemakers/tusb_xinput.git
[submodule "pico_shared"]
	path = pico_shared
	url = https://github.com/rsheldiii/pico_shared
[submodule "pico-screens"]
	path = pico-screens
	url = https://github.com/rsheldiii/pico-screens
